.Signsclass{
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
    background-color: white;
    
    
  
  }
  .signin_labels{
    width: 184px;
    font-weight: 600;
    text-align: left;
  }
  .container-fluid{
    text-align: center;
    font-size: 120%;
    width: fit-content;
    padding: 20px;
    border: 1px solid #7b4397;
    border-radius: 3px;
  }

  #Signup_btn{
    width: 100%;
    background-color: #7b4397;
border-radius: 12px;
  }

  #Signup_btn:hover{
    
    background-color: #a842a3;

  }
  #footer{
    margin-top:50px;
  }
 
  @media (max-width: 416px) {
    .signin_labels {
      display: none;
    }
  }
  
